<ul class="rules-list">
  <% rules_men.each do |rule| %>
    <li>
      <span class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;
      <%= rule %>
    </li>
  <% end %>

  <%= render 'common_rules' %>
</ul> <!-- /end of rules -->