<div class ="container">
  <div class="row about">
    <div class="col-xs-10 col-xs-offset-1">
      <!-- Nav tabs -->
      <ul class="nav nav-pills" role="tablist" id="about-rules">
        <li role="presentation" class="active"><a href="#about" aria-controls="about" role="tab" data-toggle="tab">About</a></li>
        <li role="presentation"><a href="#rules" aria-controls="rules" role="tab" data-toggle="tab">Rules</a></li>
      </ul>

      <!-- Tab content -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="about">
          <p class="space"></p>
          <%= render 'about_content' %>
        </div> <!-- /end of first tab content -->

        <!-- Second tab content -->
        <div role="tabpanel" class="tab-pane fade" id="rules">
          <%= render 'rules' %>
        </div><!-- /end of second tab content -->
      </div><!-- /end of tab content -->

    </div> <!-- end of column -->
  </div> <!-- end of row -->
</div> <!-- end of container -->
